<!DOCTYPE html>
<html lang="Es">
<head>
<style>
  .etnico-table {
    width: 100%;
    border-collapse: collapse;
  }

  .etnico-table, .etnico-table th, .etnico-table td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
  }

  .etnico-table th {
    background-color: #4CAF50;
    color: white;
  }

  .etnico-table td {
    background-color: #f2f2f2;
  }

</style>
    <title>Resumen Pedido</title>
</head>
<body>

<table class="etnico-table">
  <tr>
    <th colspan="5">Etnico</th>
  </tr>
  <tr>
    <td>Pedido: 170</td>
    <td>Cliente: Berry Mount Vegetables And Fruit Trading Llc</td>
    <td>Fecha De Entrega Final: 17/01/2024</td>
    <td>Peso Bruto: 683,2</td>
    <td>No. Piezas: 5</td>
  </tr>
</table>

</body>
</html>
