<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Actualizar Cotizaciones</title>
    <!-- Incluye aquí cualquier CSS o librería que necesites -->
</head>
<body>
<form method="post">
    {% csrf_token %}
    <table>
        <thead>
        <tr>
            <th>Presentación</th>
            <th>Precio FOB</th>
            <th>Comisión FOB</th>
            <th>Precio DXB</th>
            <th>Comisión DXB</th>
        </tr>
        </thead>
        <tbody>
        {% for item in presentaciones_data %}
            <tr>
                <td>{{ item.objeto.nombre }}</td>
                <td>{{ item.campo_precio_fob }}</td>
                <td>{{ item.campo_comision_fob }}</td>
                <td>{{ item.campo_precio_dxb }}</td>
                <td>{{ item.campo_comision_dxb }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <input type="submit" value="Actualizar">
</form>
</body>
</html>
