@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

/*         Name of items    */

[name="cliente"] {

    width: 100%;
    border-radius: 4px;
    border: none;
    padding: 8px 12px;

}

[name="exportadora"] {

    width: 100%;
    border-radius: 4px;
    border: none;
    padding: 8px 12px;

}

[name="awb"] {

    width: 100%;
    border-radius: 4px;
    border: none;
    padding: 8px 12px;

}

[name="numero_factura"] {

    width: 100%;
    border-radius: 4px;
    border: none;
    padding: 8px 12px;

}

[name="nota_credito_no"] {

    width: 100%;
    border-radius: 4px;
    border: none;
    padding: 8px 12px;

}

[name="motivo_nota_credito"] {

    width: 100%;
    border-radius: 4px;
    border: none;
    padding: 8px 12px;

}